.page-news_article {
  h1, h2, h3, h4 {
      font-family: $font-family-heading;
    }
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}
