---
layout: default
bodyClass: "page-news"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% assign news_articles = site.news | sort: "date" | reverse %}
    {% for news_article in news_articles %}
    <div class="col-12 col-md-6 mb-3">
      <div class="news_article news_article-summary">
        <div class="news_article-content">
          <h2 class="news_article-title">
            <a href="{{ news_article.url | relative_url }}">{{ news_article.title }}</a>
          </h2>
          <div style="font-size: 13px">By: <a href="/team/{{ news_article.authorlink }}">{{ news_article.author }}</a></div>
          <p>{{ news_article.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
